"db.sqlite3" 
"members/credentials.json" 
"members/Git-2.47.1.2-64-bit.exe" 
"credentials.json" 
"credentials.json" 
"members/credentials.json" 
"members/Git-2.47.1.2-64-bit.exe" 
"members/jdk-23_windows-x64_bin.zip" 
"members/Git-2.47.1.2-64-bit.exe" 
"members/jdk-23_windows-x64_bin.zip" 
# 忽略敏感檔案
*.json
*.exe
*.zip
members/credentials.json
